<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>7x7-1.fyre.co</string>
	<key>domain key</key>
	<string>eTvNxyEDiCV8OGuH6m4lk5q//C8=</string>
	<key>site</key>
	<string>303617</string>
	<key>site key</key>
	<string>bNyBbN0BWAZ46w3fGBGg9ziB0U4=</string>
	<key>environment</key>
	<string>t402.livefyre.com</string>
	<key>bootstrap host</key>
	<string>bootstrap-json-dev.s3.amazonaws.com</string>
</dict>
</plist>
